<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>A2 CRUD em NodeJs</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <head>
    <h2>Editar Registro</h2>
  </head>
  <main>
  <% data.forEach((details) => { %>
    <form action="/edit/<%= details._id %>" method="POST">
      <div class="form-group form-row">
        <div class="col-1.5">
          <input type="text" class="form-control" id="name" maxlength="20" placeholder="Nome" value="<%= details.name %>" name="name">
        </div>
        <div class="col-1.5">
          <input type="text" class="form-control" id="surname" maxlength="20" placeholder="Sobrenome" value="<%= details.surname %>" name="surname">
        </div>
      </div>
      <div class="form-group form-row">
        <div class="col-1.5">
          <select id="sex" name="sex" class="form-control" value="<%= details.sex %>">
            <option value="null">Sexo</option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
            <option value="Outro">Outro</option>
          </select>
        </div>
        <div class="col-1.5">
          <input onfocus="(this.type='date')" placeholder="Nascimento" class="form-control" id="birth" value="<%= details.birth %>" name="birth">
        </div>
        <div class="col-1.5">
          <input type="text" class="form-control" id="phone" maxlength="14" placeholder="Telefone" value="<%= details.phone %>" name="phone">
        </div>
      </div>
      <div class="form-group form-row">
        <div class="col">
          <input type="text" class="form-control" id="email" maxlength="30" placeholder="E-mail" value="<%= details.email %>" name="email">
        </div>
      </div>
      <div class="form-group form-row">
        <div class="col-1.5">
          <input type="text" class="form-control" id="address" maxlength="50" placeholder="Endereço" value="<%= details.address %>" name="address">
        </div>
        <div class="col-1.5">
          <input type="text" class="form-control" id="complement" maxlength="50" placeholder="Complemento" value="<%= details.complement %>" name="complement">
        </div>
      </div>
      <div class="form-group form-row">
        <div class="col-1.5">
          <input type="text" class="form-control" id="cep" maxlength="9" placeholder="CEP" value="<%= details.cep %>" name="cep">
        </div>
        <div class="col-1.5">
          <input type="text" class="form-control" id="number" maxlength="3" placeholder="Número" value="<%= details.number %>" name="number">
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-dark">Editar</button>
      <button class="btn btn-primary btn-dark" onclick="window.location='/show';">Todos</button>
    </form>
  <% }) %>
  </main>
</body>
</html>